$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.handlebars-matches {
  text-align: center;
  // max-width: 0 auto;
  // width: 300px;
  margin: auto;
  width: 50%;
}
